
body {
    max-height: 100vh;
    overflow: hidden;
}

.app .map-container {
    width: 100%;
    height: 92vh;
}

.app .app-wrapper {
    transition: transform .2s ease-in-out;
}

.app .menu-stations {
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.menu-closed .app-wrapper {
    transform: translateX(0);
}

.menu-closed .menu-stations {
    opacity: 0;
    transform: translateX(-100%);
}

.menu-opened .app-wrapper {
    transform: translateX(70%);
}

.menu-opened .menu-stations {
    opacity: 1;
    transform: translateX(0);
}


@media screen and (min-width: 768px) {
    .menu-opened .app-wrapper {
        transform: translateX(400px);
    }

    .app .menu-stations {
        width: 400px;
    }
}
