.locations {
    width: 80%;
    height: 100%;
    background: #0282a5;
}

.locations-title {
    font-size: 18px;
    color: #002833;
    text-align: center;
    padding: 25px;
    border-bottom: 2px solid rgba(0, 40, 51, 0.1);
}


@media screen and (min-width: 998px) {
    .locations {
        width: 350px;
    }
}
