.locations {
    width: 70%;
    height: 100%;
    background: #0282a5;
    z-index: 1;
    transition: all .2s ease-in-out;
    overflow: auto;
}

.locations .locations-title {
    font-size: 18px;
    color: #002833;
    text-align: center;
    padding: 25px;
    border-bottom: 2px solid rgba(0, 40, 51, 0.1);
}

.locations .locations-filter {
    display: flex;
    height: 40px;
}

.locations .locations-filter-input {
    padding: 0 10px;
    flex: 1;
}

.locations .locations-wrapper {
    padding: 30px 0;
    overflow-y: auto;
}

.locations .locations-wrapper .location {
    padding: 10px;
    color: #002833;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
.locations [aria-pressed="true"],
.locations .locations-wrapper .location:hover {
    background: rgba(8, 0, 0, 0.08);
}

@media screen and (min-width: 768px) {
    .locations {
        width: 300px;
    }
}
